Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

fix(env): fix env
  .env.example
Due: none

ci(Dockerfile): fix build script
  Dockerfile
Due: none

chore(ci): move Dockerfile to .ci folder
  .ci/Dockerfile
Due: none

chore(plugins/minio): add folder
  .env.example
  config/plugins.ts
Due: none

chore(next): fix storage host
  next.config.js
Due: none

fix(config/middlewares): fix storage host
  config/middlewares.ts
Due: none

chore(deps): upgrade strapi version
  package-lock.json
  package.json
Due: prettier --write

chore(git): add `.vscode` folder to `.gitignore`
  .gitignore
Due: none

chore(deps): upgrade Strapi to `v4.12.0`
  package-lock.json
  package.json
Due: prettier --write

chore: 🔥 use redux persist
  .gitignore
  package-lock.json
  package.json
  src/components/article/ArticleCard.tsx
  src/components/shared/layout/Footer.tsx
  src/components/shared/layout/Header.tsx
  src/components/shared/layout/Layout.tsx
  src/components/shared/layout/index.ts
  src/components/shared/snackbar/SnackbarAction.tsx
  src/components/shared/snackbar/index.ts
  src/components/shared/theme/ThemeSwitcher.tsx
  src/components/shared/theme/index.ts
  src/components/tag/TagChip.tsx
  src/components/tag/index.ts
  src/constants/theme.ts
  src/hooks/index.ts
  src/hooks/theme.ts
  src/hooks/useThemeReducer.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/_error.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/redux/actions/theme.ts
  src/redux/index.ts
  src/redux/reducers/index.ts
  src/redux/reducers/theme.ts
  src/redux/storage.ts
  src/redux/theme.ts
  src/styles/global.scss
  src/styles/theme.ts
  src/types/redux.ts
Due: next lint ., prettier --write

fix(articles): fix markdown rendering
  package-lock.json
  package.json
  src/components/article/ArticleCard.tsx
  src/components/article/ArticleContent.tsx
  src/components/article/ArticleHeader.tsx
  src/components/article/ArticleList.tsx
  src/components/article/index.ts
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
  src/components/shared/layout/Footer.tsx
  src/components/shared/layout/Header.tsx
  src/components/shared/layout/Layout.tsx
  src/components/shared/theme/ThemeSwitcher.tsx
  src/global.d.ts
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/redux/theme.ts
  src/styles/global.scss
  src/styles/theme.ts
  src/types/page.ts
Due: next lint ., prettier --write

chore(deps): update deps
  package-lock.json
Due: prettier --write

fix(config/middlewares): fix content security policy
  config/middlewares.ts
Due: none

fix(config/middleware): fix upgrade insecure requests for CSP
  config/middlewares.ts
Due: none

ci(Jenkinsfile): specify agent label
  .ci/Jenkinsfile
Due: none

ci(Jenkinsfile): fix agent label
  .ci/Jenkinsfile
Due: none

chore: remove code smells
  src/components/article/ArticleCard.tsx
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
Due: next lint ., prettier --write

chore(sonar): exclude `src` folder from coverage analysis temporarily
  sonar-project.properties
Due: none

fix(components/Header): fix header components
  next.config.js
  src/components/project/ProjectCard.tsx
  src/components/shared/layout/Header.tsx
Due: next lint ., prettier --write

feat(font): change font family to `Lato`
  package-lock.json
  package.json
  src/components/shared/layout/Header.tsx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/styles/global.scss
  src/styles/theme.ts
Due: next lint ., prettier --write

fix(HomePage): fix grid
  package-lock.json
  package.json
  src/components/article/ArticleCard.tsx
  src/components/shared/layout/Header.tsx
  src/components/shared/layout/Layout.tsx
  src/components/shared/theme/ThemeSwitcher.tsx
  src/constants/app.ts
  src/constants/page.ts
  src/constants/screen.ts
  src/graphql/client.ts
  src/hooks/screen.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/types/google.ts
  src/utils/gtag.ts
Due: next lint ., prettier --write

fix: styling
  src/components/article/ArticleCard.tsx
  src/components/shared/layout/Footer.tsx
  src/components/shared/layout/Header.tsx
  src/pages/index.tsx
Due: next lint ., prettier --write

fix: imports
  src/pages/blog/index.tsx
Due: next lint ., prettier --write

ci: experiment with Jenkinsfile
  .ci/Jenkinsfile
Due: none

ci: fix Jenkinsfile
  .ci/Jenkinsfile
Due: none

ci: comment test build step
  .ci/Jenkinsfile
Due: none

ci: remove comments
  .ci/Jenkinsfile
Due: none

ci: remove agent
  .ci/Jenkinsfile
Due: none

ci: set agent to `default`
  .ci/Jenkinsfile
Due: none

ci: set agent to `any`
  .ci/Jenkinsfile
Due: none

ci: set agent to `kubernetes`
  .ci/Jenkinsfile
  .husky/pre-commit
Due: none

ci: add `defauultContainer`
  .ci/Jenkinsfile
Due: none

ci: set agent to `kubernetes`
  .ci/Jenkinsfile
Due: none

ci: experiment with `podTemplate`
  .ci/Jenkinsfile
Due: none

Path conditions:
  next lint .: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.json)
