Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

feat: integrate with `New Relic`
  .env.example
  .gitignore
  next.config.js
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: next lint ., prettier --write

chore(env): add `NEW_RELIC_CODE_LEVEL_METRICS_ENABLED` env
  .env.example
Due: none

deps: fix `package-lock.json`
  package-lock.json
Due: prettier --write

docs: revise PR template
  .github/pull_request_template.md
Due: none

deps: use `yarn` instead of `npm`
  .ci/Dockerfile
  .ci/Jenkinsfile
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix(ci): fix `Dockerfile`
  .ci/Dockerfile
Due: none

ci: fix `Jenkinsfile`
  .ci/Jenkinsfile
Due: none

chore: fix `.prettierignore`
  .prettierignore
Due: none

fix: use `yarn` instead of `npm`
  .ci/Dockerfile
  .ci/Jenkinsfile
  .husky/pre-commit
  .prettierignore
  README.md
  package-lock.json
  yarn.lock
Due: prettier --write

fix(graphql): fix `cache`
  src/graphql/client.ts
Due: next lint ., prettier --write

fix(blog): fix blog page
  next.config.js
  src/components/markdown/index.tsx
  src/graphql/client.ts
  src/hooks/graphql.ts
  src/pages/blog/[slug].tsx
Due: next lint ., prettier --write

deps: upgrade strapi to `v4.12.7`
  package.json
  yarn.lock
Due: prettier --write

fix: fix client-side navigation by using `router.push`, created `ArticleHeader` and `ArticleContent` components
  src/components/article/ArticleCard.tsx
  src/components/article/ArticleContent.tsx
  src/components/article/ArticleHeader.tsx
  src/components/article/index.ts
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
  src/components/shared/layout/Header.tsx
  src/components/tag/TagChip.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/projects/index.tsx
Due: next lint ., prettier --write

ci: fix `Dockerfile`
  .ci/Dockerfile
  .ci/Jenkinsfile
  package.json
Due: prettier --write

ci: fix `Dockerfile`
  .ci/Dockerfile
  next.config.js
  src/components/markdown/index.tsx
  yarn.lock
Due: next lint ., prettier --write

ci: fix `Dockerfile`
  .ci/Dockerfile
  src/components/article/ArticleCard.tsx
  src/components/shared/layout/Header.tsx
  src/components/tag/TagChip.tsx
  src/hooks/graphql.ts
  src/pages/blog/index.tsx
  src/pages/projects/index.tsx
Due: next lint ., prettier --write

feat(tag): add `overview` field
  src/api/tag/content-types/tag/schema.json
Due: prettier --write

docs: fix `README`
  README.md
Due: none

chore(deps): add `:dependencyDashboard` in Renovate config
  renovate.json
Due: prettier --write

fix: enable `prettier`
  renovate.json
Due: prettier --write

feat(tag): add `color` field
  src/api/tag/content-types/tag/schema.json
Due: prettier --write

fix: fix schemas
  src/api/article/content-types/article/schema.json
Due: prettier --write

feat: create a page for tag
  README.md
  renovate.json
  src/app/server-sitemap.xml/route.ts
  src/components/article/ArticleCard.tsx
  src/components/article/ArticleCover.tsx
  src/components/article/index.ts
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
  src/components/project/ProjectList.tsx
  src/components/project/index.ts
  src/components/tag/TagChip.tsx
  src/constants/file.ts
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/_error.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/theme.ts
  src/types/datetime.ts
  src/types/file.ts
  src/types/graphql.ts
  src/types/tag.ts
Due: next lint ., prettier --write

chore(ci): fix `.dockerignore`
  .dockerignore
Due: none

chore: remove code smells
  src/components/markdown/index.tsx
  src/types/graphql.ts
Due: next lint ., prettier --write

fix(tag): fix flex wrap
  src/components/article/ArticleCard.tsx
  src/components/article/ArticleHeader.tsx
Due: next lint ., prettier --write

chore: use `Roboto` font
  next.config.js
  package.json
  src/components/article/ArticleCover.tsx
  src/components/article/ArticleHeader.tsx
  src/components/shared/layout/Header.tsx
  src/components/shared/layout/Layout.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/_error.tsx
  src/pages/index.tsx
  src/styles/theme.ts
  yarn.lock
Due: next lint ., prettier --write

fix(deps): fix deps versions
  package.json
Due: prettier --write

fix(deps): fix deps versions
  yarn.lock
Due: none

fix: remove worker
  next.config.js
  package.json
  src/app/layout.tsx
  src/components/analytics/AnalyticsProvider.tsx
  yarn.lock
Due: next lint ., prettier --write

fix: fix engine
  package.json
Due: prettier --write

fix: fix formatting
  config/middlewares.ts
  yarn.lock
Due: none

fix(error): fix error pages
  src/app/error.tsx
  src/app/not-found.tsx
Due: next lint ., prettier --write

fix: fix error pages
  src/app/error.tsx
  src/app/not-found.tsx
Due: next lint ., prettier --write

feat(image): integrate Cloudinary
  .env.example
  next.config.js
  package.json
  src/app/blog/[slug]/page.tsx
  src/components/analytics/AnalyticsProvider.tsx
  src/components/article/ArticleCard.tsx
  src/components/layout/Header.tsx
  src/components/markdown/index.tsx
  src/components/tag/TagChip.tsx
  src/components/utils/Image.tsx
  src/components/utils/index.ts
  src/constants/app.ts
  src/graphql/client.ts
  yarn.lock
Due: next lint ., prettier --write

feat(upload): integrate Cloudinary
  .env.example
  LICENSE
  config/database.ts
  config/plugins.ts
  package.json
  yarn.lock
Due: prettier --write

docs: add LICENSE
  LICENSE
Due: none

Path conditions:
  next lint .: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.json)
