Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

chore(deps): add legacy peer deps option
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

chore(app/next-sitemap): fix sitemap route
  .gitignore
  Dockerfile
  next-env.d.ts
  package-lock.json
  package.json
  src/app/server-sitemap.xml/route.ts
  tsconfig.json
Due: next lint ., prettier --write

ci(Dockerfile): fix paths
  Dockerfile
Due: none

chore(strapi): disable telemetry
  package.json
Due: prettier --write

chore(plugins): add new relic GraphQL plugin
  config/plugins.ts
  package-lock.json
  package.json
Due: prettier --write

fix(blog/slug): fix guard
  src/pages/blog/[slug].tsx
Due: next lint ., prettier --write

ci: add dummy Jenkinsfile
  .ci/Jenkinsfile
Due: none

ci: add Jenkinsfile
  .ci/Jenkinsfile
Due: none

ci: comment step
  .ci/Jenkinsfile
Due: none

ci: restore step
  .ci/Jenkinsfile
Due: none

ci: fix agent
  .ci/Jenkinsfile
Due: none

ci: integrate sonar
  .ci/Jenkinsfile
Due: none

ci: fix Jenkinsfile
  .ci/Jenkinsfile
Due: none

chore: add sonar project properties
  sonar-project.properties
Due: none

test: sonar
  src/index.ts
Due: next lint ., prettier --write

ci(Jenkinsfile): add Node.js tool
  .ci/Jenkinsfile
  sonar-project.properties
Due: none

fix(Jenkinsfile): fix nodejs
  .ci/Jenkinsfile
Due: none

test: failed
  src/index.ts
Due: next lint ., prettier --write

test: fail
  src/index.ts
Due: next lint ., prettier --write

ci: add wait for SonarQube analysis
  .ci/Jenkinsfile
Due: none

ci: fix bugs
  src/index.ts
Due: next lint ., prettier --write

chore: remove code smells
  src/index.ts
Due: next lint ., prettier --write

docs: add badges
  README.md
Due: none

ci: fix Jenkinsfile
  .ci/Jenkinsfile
  README.md
Due: none

chore: add sonar project properties file
  sonar-project.properties
Due: none

docs: fix title
  README.md
Due: none

Path conditions:
  next lint .: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.json)
