Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["next lint .", "prettier --write"],
  "*.json": ["prettier --write"]
}

WEB-11
  .gitignore
  public/sw.js
  public/sw.js.map
  public/workbox-202dc43a.js
  public/workbox-202dc43a.js.map
Due: none

WEB-15
  next.config.js
  package.json
  public/sw.js
  public/sw.js.map
  public/workbox-202dc43a.js
  public/workbox-202dc43a.js.map
  yarn.lock
Due: prettier --write

WEB-11
  .gitignore
  next.config.js
  package.json
  yarn.lock
Due: prettier --write

WEB-11
  next.config.js
  package.json
  yarn.lock
Due: prettier --write

Upgraded Next PWA to version 5.3.1
  package.json
  yarn.lock
Due: prettier --write

WEB-12
  .eslintrc
  package.json
  src/components/header.tsx
  yarn.lock
Due: next lint ., prettier --write

WEB-16
  src/components/education/education-timeline.tsx
  src/components/header.tsx
  src/components/index.ts
  src/components/skill/index.ts
  src/components/skill/skill-tabs.tsx
  src/components/tab-panel.tsx
  src/components/work-experience/work-experience-timeline.tsx
  src/pages/index.tsx
  src/utils/index.ts
Due: next lint ., prettier --write

WEB-16
  src/components/layout.tsx
  src/components/project/project-card.tsx
  src/pages/projects/index.tsx
Due: next lint ., prettier --write

WEB-16
  src/components/header.tsx
  src/components/markdown/index.tsx
  src/components/skill/skill-tabs.tsx
Due: next lint ., prettier --write

WEB-16
  src/components/article/article-card.tsx
  src/pages/blog/index.tsx
Due: next lint ., prettier --write

Upgraded all deps.
  package.json
  yarn.lock
Due: prettier --write

WEB-16
  package.json
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  yarn.lock
Due: next lint ., prettier --write

WEB-12
  package.json
  src/components/article/article-card.tsx
  src/components/header.tsx
  src/components/latest-card.tsx
  src/components/project/project-card.tsx
  src/pages/blog/[slug].tsx
  src/pages/projects/[slug].tsx
  yarn.lock
Due: next lint ., prettier --write

WEB-12
  src/components/project/project-card.tsx
  src/pages/index.tsx
Due: next lint ., prettier --write

WEB-12
  src/components/article/article-card.tsx
  src/components/education/education-timeline.tsx
  src/components/work-experience/work-experience-timeline.tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
Due: next lint ., prettier --write

Upgraded all deps.
  package.json
  src/components/article/article-card.tsx
  src/components/article/index.ts
  src/components/article/latest-articles-banner.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/types/article.ts
  src/types/index.ts
  yarn.lock
Due: next lint ., prettier --write

Still migrating Material UI.
  next-env.d.ts
  package.json
  src/components/article/article-card.tsx
  src/components/article/article-content.tsx
  src/components/article/article-header.tsx
  src/components/education/education-timeline.tsx
  src/components/footer.tsx
  src/components/header.tsx
  src/components/latest-card.tsx
  src/components/latest-list.tsx
  src/components/layout.tsx
  src/components/markdown/index.tsx
  src/components/project/project-card.tsx
  src/components/skill/skill-progress-list.tsx
  src/components/skill/skill-tabs.tsx
  src/components/tab-panel.tsx
  src/components/theme-switcher.tsx
  src/components/work-experience/work-experience-timeline.tsx
  src/constants/redux.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/redux/actions/theme.ts
  src/redux/reducers/theme.ts
  src/styles/theme.ts
  src/types/redux.ts
  tsconfig.json
  yarn.lock
Due: next lint ., prettier --write

Upgraded all deps.
  next.config.js
  package.json
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/browserconfig.xml
  public/manifest.json
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
  src/pages/_document.tsx
  yarn.lock
Due: next lint ., prettier --write

Upgraded all deps.
  src/graphql/client.ts
Due: next lint ., prettier --write

fix(deps): Upgraded all deps.
  package.json
  yarn.lock
Due: prettier --write

feat(models+graphql+github/pr_template): Revised all models and GitHub PR template.
  .env.example
  .github/pull_request_template.md
  src/components/article/article-content.tsx
  src/components/education/education-timeline.tsx
  src/components/latest-card.tsx
  src/components/latest-list.tsx
  src/components/project/project-card.tsx
  src/components/skill/skill-progress-list.tsx
  src/components/skill/skill-tabs.tsx
  src/components/theme-switcher.tsx
  src/components/work-experience/work-experience-timeline.tsx
  src/config.ts
  src/graphql/client.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/types/article.ts
  src/types/company.ts
  src/types/education.ts
  src/types/file.ts
  src/types/graphql.ts
  src/types/index.ts
  src/types/project.ts
  src/types/school.ts
  src/types/skill.ts
  src/types/tag.ts
  src/types/work-experience.ts
  src/utils/education/sort-educations.ts
  src/utils/skill/get-skill-level.ts
  src/utils/skill/get-skill-progress.ts
  src/utils/skill/sort-skills.ts
  src/utils/work-experience/sort-work-experiences.ts
Due: next lint ., prettier --write

fix: remove `education`, `school`, `company`, and `work_experience`
  package.json
  src/components/education/education-timeline.tsx
  src/components/education/index.ts
  src/components/skill/skill-tabs.tsx
  src/components/work-experience/index.ts
  src/components/work-experience/work-experience-timeline.tsx
  src/pages/_app.tsx
  src/pages/blog/index.tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/projects/index.tsx
  src/pages/projects/tags/[slug].tsx
  src/pages/server-sitemap.xml/index.tsx
  src/types/company.ts
  src/types/education.ts
  src/types/file.ts
  src/types/project.ts
  src/types/redux.ts
  src/types/school.ts
  src/types/skill.ts
  src/types/tag.ts
  src/types/work-experience.ts
  src/utils/education/index.ts
  src/utils/education/sort-educations.ts
  src/utils/index.ts
  src/utils/skill/get-skill-level.ts
  src/utils/skill/get-skill-progress.ts
  src/utils/skill/index.ts
  src/utils/skill/sort-skills.ts
  src/utils/work-experience/index.ts
  src/utils/work-experience/sort-work-experiences.ts
  yarn.lock
Due: next lint ., prettier --write

fix: DB env names
  .dockerignore
  .env.example
  config/database.ts
Due: none

chore(deps): bump strapi version to `v4.10.7`
  package-lock.json
  package.json
Due: prettier --write

chore: install new relic
  .env.example
  package-lock.json
  package.json
  src/index.ts
Due: next lint ., prettier --write

chore: fix scripts
  Dockerfile
  package.json
Due: prettier --write

chore(Dockerfile): fix `WORKDIR`
  Dockerfile
Due: none

fix(gql): fix depth limit
  config/plugins.ts
Due: none

fix(editor): fix editor to use markdown instead of html
  package-lock.json
  src/api/article/content-types/article/schema.json
Due: prettier --write

chore(article): make `content` field required
  src/api/article/content-types/article/schema.json
Due: prettier --write

ci(Dockerfile): comment env script
  Dockerfile
Due: none

chore(config): remove env
  .env.example
  Dockerfile
  src/config.ts
  src/constants/index.ts
  src/graphql/client.ts
  src/pages/_document.tsx
  src/utils/gtag.ts
Due: next lint ., prettier --write

fix(next): fix Dockerfile
  Dockerfile
  next.config.js
Due: none

fix(Dockerfile): fix Dockerfile
  Dockerfile
Due: none

chore(Dockerfile): fix install script
  Dockerfile
Due: none

fix(Dockerfile): use `npm` to build
  Dockerfile
Due: none

chore(deps): upgraded all deps
  package-lock.json
  package.json
Due: prettier --write
