Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["next lint .", "prettier --write"],
  "*.json": ["prettier --write"]
}

chore: remove unnecessary use of `sx` props
  Dockerfile
  Jenkinsfile
  src/app/blog/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/tags/[slug]/page.tsx
  src/components/article/ArticleCard.tsx
  src/components/article/ArticleHeader.tsx
  src/components/layout/Footer.tsx
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
Due: next lint ., prettier --write

chore: move CI files to root
  Dockerfile
  Jenkinsfile
Due: none

chore(package.json): add `version`
  package.json
Due: prettier --write

docs: add root README
  .circleci/config.yml
  README.md
  package.json
  packages/cms/.prettierignore
  packages/cms/package.json
  packages/cms/public/robots.txt
  packages/cms/public/uploads/.gitkeep
  packages/cms/src/admin/app.example.tsx
  packages/cms/src/admin/tsconfig.json
  packages/cms/src/admin/webpack.config.example.js
  packages/cms/src/api/.gitkeep
  packages/cms/src/api/article/content-types/article/schema.json
  packages/cms/src/api/article/controllers/article.ts
  packages/cms/src/api/article/routes/article.ts
  packages/cms/src/api/article/services/article.ts
  packages/cms/src/api/project/content-types/project/schema.json
  packages/cms/src/api/project/controllers/project.ts
  packages/cms/src/api/project/routes/project.ts
  packages/cms/src/api/project/services/project.ts
  packages/cms/src/api/tag/content-types/tag/schema.json
  packages/cms/src/api/tag/controllers/tag.ts
  packages/cms/src/api/tag/routes/tag.ts
  packages/cms/src/api/tag/services/tag.ts
  packages/cms/src/components/shared/meta-social.json
  packages/cms/src/components/shared/seo.json
  packages/cms/src/extensions/.gitkeep
  packages/cms/src/index.ts
  packages/web/package.json
  yarn.lock
Due: prettier --write

ci: integrate CircleCI
  .circleci/config.yml
  packages/web/.env.example
Due: none

ci: fix config
  .circleci/config.yml
Due: none

ci: remove old Jenkinsfiles
  packages/cms/Jenkinsfile
  packages/web/Jenkinsfile
Due: none

feat: add skeleton for loading
  .DS_Store
  packages/cms/Dockerfile
  packages/web/Dockerfile
  packages/web/src/app/blog/client.tsx
  packages/web/src/app/blog/page.tsx
  packages/web/src/app/client.tsx
  packages/web/src/app/error.tsx
  packages/web/src/app/layout.tsx
  packages/web/src/app/not-found.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/projects/client.tsx
  packages/web/src/app/projects/page.tsx
  packages/web/src/app/tags/[slug]/client.tsx
  packages/web/src/app/tags/[slug]/page.tsx
  packages/web/src/components/graphql/GraphQLProvider.tsx
  packages/web/src/components/graphql/index.ts
  packages/web/src/styles/theme.ts
Due: none

chore: move files
  .vscode/settings.json
  packages/cms/README.md
  packages/cms/database/migrations/.gitkeep
  packages/web/README.md
Due: prettier --write

chore(.gitignore): add `.DS_Store`
  .DS_Store
  .gitignore
Due: none

ci: remove `build` step
  .circleci/config.yml
  README.md
  packages/web/src/components/markdown/index.tsx
Due: none

chore(node): move `engines`
  package.json
  packages/cms/package.json
Due: prettier --write

chore(node): fix `engine`
  package.json
  packages/cms/package.json
  packages/web/package.json
Due: prettier --write

feat(web/analytics): integrate Microsoft Clarity
  packages/web/.env.example
  packages/web/src/app/blog/client.tsx
  packages/web/src/app/client.tsx
  packages/web/src/app/projects/client.tsx
  packages/web/src/app/tags/[slug]/client.tsx
  packages/web/src/components/analytics/AnalyticsProvider.tsx
Due: none

feat(web): implement dynamic imports for pages
  packages/web/package.json
  packages/web/src/app/blog/client-page.tsx
  packages/web/src/app/blog/page.tsx
  packages/web/src/app/client-page.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/projects/client-page.tsx
  packages/web/src/app/projects/page.tsx
  packages/web/src/app/tags/[slug]/client-page.tsx
  packages/web/src/app/tags/[slug]/page.tsx
  packages/web/src/components/analytics/AnalyticsProvider.tsx
  packages/web/src/components/graphql/GraphQLProvider.tsx
  packages/web/src/components/layout/Header.tsx
  packages/web/src/components/layout/Layout.tsx
  packages/web/src/components/redux/ReduxProvider.tsx
  packages/web/src/components/snackbar/SnackbarAction.tsx
  packages/web/src/components/theme/ThemeRegistry.tsx
  packages/web/src/components/theme/ThemeSwitcher.tsx
  yarn.lock
Due: prettier --write

chore(deps): regenerate lock file
  yarn.lock
Due: none

enhance(web/app/page+page-client): enhance dynamic imports
  packages/cms/types/generated/components.d.ts
  packages/cms/types/generated/contentTypes.d.ts
  packages/web/src/app/blog/[slug]/page.tsx
  packages/web/src/app/blog/client-page.tsx
  packages/web/src/app/blog/page.tsx
  packages/web/src/app/client-page.tsx
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/projects/client-page.tsx
  packages/web/src/app/projects/page.tsx
  packages/web/src/app/tags/[slug]/client-page.tsx
  packages/web/src/app/tags/[slug]/page.tsx
  renovate.json
Due: prettier --write

chore(web/font): adjust font
  packages/web/.env.example
  packages/web/package.json
  packages/web/src/app/layout.tsx
Due: prettier --write

chore(web/script): set `NODE_OPTIONS` in `start` script
  packages/web/.env.example
  packages/web/package.json
Due: prettier --write

chore(markdown): fix lint errors
  packages/web/src/components/markdown/index.tsx
Due: none

chore(web/scripts): fix lint scripts
  packages/web/.lintstagedrc.json
Due: prettier --write

chore: make cards and header proper
  packages/web/.lintstagedrc.json
  packages/web/package.json
  packages/web/src/app/blog/[slug]/page.tsx
  packages/web/src/app/blog/client-page.tsx
  packages/web/src/app/blog/page.tsx
  packages/web/src/app/client-page.tsx
  packages/web/src/app/layout.tsx
  packages/web/src/app/projects/client-page.tsx
  packages/web/src/app/projects/page.tsx
  packages/web/src/app/tags/[slug]/page.tsx
  packages/web/src/components/article/ArticleCard.tsx
  packages/web/src/components/layout/Header.tsx
  packages/web/src/components/markdown/index.tsx
  packages/web/src/components/project/ProjectCard.tsx
  packages/web/src/components/project/ProjectStatusChip.tsx
  packages/web/src/components/project/index.ts
  packages/web/src/components/snackbar/SnackbarAction.tsx
  packages/web/src/components/tag/TagChip.tsx
  packages/web/src/components/theme/ThemeRegistry.tsx
  packages/web/src/components/theme/ThemeSwitcher.tsx
  packages/web/src/constants/index.ts
  packages/web/src/next-env.d.ts
  packages/web/src/redux/theme.ts
  packages/web/src/styles/theme.ts
  packages/web/src/tsconfig.json
  packages/web/src/types/redux.ts
Due: prettier --write

chore(web/lint-staged): fix script
  packages/web/.lintstagedrc.json
Due: prettier --write

feat(web/tags): show articles only
  packages/cms/types/generated/contentTypes.d.ts
  packages/web/.lintstagedrc.json
  packages/web/src/app/tags/[slug]/client-page.tsx
  packages/web/tsconfig.json
Due: prettier --write

chore(web/tags/client-page): remove code smells
  packages/web/src/app/tags/[slug]/client-page.tsx
Due: none

chore(web/redux): change store key
  packages/web/src/redux/index.ts
Due: none

fix(web/types/redux): fix `IRootState` reducer types
  packages/web/src/types/redux.ts
Due: none

deps(yarn.lock): reinstall
  yarn.lock
Due: none

fix(web/redux): fix Redux
  packages/cms/.strapi/client/app.js
  packages/cms/.strapi/client/index.html
  packages/cms/package.json
  packages/cms/types/generated/components.d.ts
  packages/cms/types/generated/contentTypes.d.ts
  packages/web/src/components/layout/Header.tsx
  packages/web/src/components/project/ProjectStatusChip.tsx
  packages/web/src/components/theme/ThemeRegistry.tsx
  packages/web/src/hooks/redux.ts
  packages/web/src/hooks/theme.ts
  packages/web/src/redux/index.ts
  packages/web/src/types/redux.ts
  yarn.lock
Due: prettier --write

chore(web/types/redux): remove code smells
  packages/web/src/types/redux.ts
Due: none

fix(web/deps): fix `sharp` and `next`
  packages/web/package.json
  yarn.lock
Due: prettier --write
