Repository rafiandria23/web: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint ., prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["next lint .", "prettier --write"],
  "*.json": ["prettier --write"]
}

ci: experimental
  .ci/Jenkinsfile
Due: none

fix(ci): fix `Jenkinsfile`
  .ci/Jenkinsfile
Due: none

ci: fix `Jenkinsfile`
  .ci/Jenkinsfile
Due: none

fix(pages/blog+projects): fix pages
  sonar-project.properties
  src/pages/blog/index.tsx
  src/pages/projects/index.tsx
Due: next lint ., prettier --write

chore: remove code smells
  src/components/project/ProjectCard.tsx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
Due: next lint ., prettier --write

chore(sonar): disable sonar
  sonar-project.properties
Due: none

chore(deps): upgrade strapi to `v4.12.4`
  package-lock.json
  package.json
Due: prettier --write

fix(admin): fix `app.example.tsx`
  src/admin/app.example.tsx
Due: next lint ., prettier --write

deps: upgrade strapi to `v4.12.5`
  package-lock.json
  package.json
Due: prettier --write

deps: install `blurhash` plugin
  config/plugins.ts
  package-lock.json
  package.json
Due: prettier --write

ci: add Jenkinsfile `Dependency Installation` stage
  .ci/Jenkinsfile
Due: none

ci: add `Dependency Installation` stage
  .ci/Jenkinsfile
Due: none

feat: install `placeholder` plugin
  config/plugins.ts
  package-lock.json
  package.json
Due: prettier --write

chore(deps): remove `strapi-placeholder-plugin`
  config/plugins.ts
  package-lock.json
  package.json
Due: prettier --write

fix: fix home page
  package-lock.json
  package.json
  src/components/article/ArticleCard.tsx
  src/components/markdown/index.tsx
  src/components/project/ProjectCard.tsx
  src/components/shared/layout/Footer.tsx
  src/constants/datetime.ts
  src/pages/404.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/index.tsx
  src/pages/projects/tags/[slug].tsx
Due: next lint ., prettier --write

docs: add pull request template
  .github/pull_request_template.md
Due: none

docs: revise pull request template
  .github/pull_request_template.md
Due: none

fix: fix `textAlign`
  src/pages/index.tsx
Due: next lint ., prettier --write

fix: fix `ArticleCard`
  src/components/article/ArticleCard.tsx
  src/components/shared/layout/Header.tsx
  src/components/shared/theme/ThemeSwitcher.tsx
  src/pages/_app.tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
Due: next lint ., prettier --write

feat(blog/markdown): [R23-112] fix blog markdown components
  package-lock.json
  package.json
  src/components/markdown/index.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/tags/[slug].tsx
  src/pages/projects/tags/[slug].tsx
  src/styles/global.scss
  src/styles/theme.ts
Due: next lint ., prettier --write
